body {
    margin: 0;
    padding: 0;
  }
  
  .App {
    background-color: #181818;
    min-height: 100vh;
  }
  
  /* Dashboard */
  .video-grid {
    color: white;
  }
  
  /* Genre List*/
  .tool-bar {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .genre-btn {
    color: rgba(255, 255, 255, 0.87);
    margin: 10px;
    padding: 7px 14px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .active-toolbar-button.genre-btn {
    color: #586069;
    background: #ffffff;
    border-radius: 16px;
  }
  
  .video-tile {
    height: 100%;
  }
  .video-tile:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s linear;
  }
  
  .video-title {
    font-size: 16px;
    margin: 3px 0px;
    color: #ffffff;
  }
  
  .video-sub-title {
    color: #d1d5da;
    font-size: 14px;
    margin: 3px 0px;
  }
  
  .preview-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    object-fit: cover;
  }
  .container {
    margin: 20px 40px;
    
  }
  .header-style {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .button-style {
    background: #4ca3fc;
    border-radius: 4px;
    /* padding: 10px; */
    /* Width :115px;
  Height 
  30px */
    width: 115px;
    height: 30px;
    color: #ffffff;
  }
  /* 
  .search-desktop{
      /* background: #121212; */
  /* Gray/gray-700 */
  
  /* border: 1px solid #444D56;
  box-sizing: border-box;
  border-radius: 2px 0px 0px 2px;
  color: #606060;
  } */
  
  .search {
    background: #ffffff;
  
    border: 1px solid #444d56;
    box-sizing: border-box;
    border-radius: 2px 0px 0px 2px;
    color: #606060;
    
  }
  
  .no-videos{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    color: #999;
  }
  
  /* Video Page*/
  
  .video-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .iframe-parent{
    position: relative;
    padding-bottom: 56.25px;
    padding-top: 25px;
    height: 80vh;
    margin: 20px;
  
  }
  
  .iframe-parent iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 768px){
    .iframe-main{
      width: unset;
      min-height: unset;
    }
  }
  
  .playing-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin: 5px 0px;
  }
  
  .tag{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #c2c2c2;
    margin-right: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .line{
    padding: 0.5rem 0;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  
  }
  
  .dot{
    background-color: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .vote-container{
    display: inline-flex;
  }
  
  .vote-pill{
    color: #fff;
    mix-blend-mode: normal;
    border-radius: 16px;
    background-color: #2b2b2b;
    margin-right: 15px;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
  
  }
  
  .video-pill:hover {
    background-color: #474747;
  
  }
  
  .thumb-icon{
    color: #797979;
    margin-right: 10px;
  }
  
  /*videoUpload*/
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .App {
    background-color: #181818;
    min-height: 100vh;
  }
  /* Dashboard */
  .video-grid {
    color: white;
  }
  
  /* Explore */
  .preview-image {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    /* To make images take up equal height in a row */
    .preview-image {
      height: 150px;
      object-fit: cover;
    }
  }
  
  .video-sub-title {
    color: gray !important;
  }
  
  /* Header */
  .app-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: #202020;
  }
  
  .primary-button {
    background: #4ca3fc;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
  }
  
  /* Upload modal */
  .form-header {
    color: rgba(255, 255, 255, 0.87);
    font-weight: normal;
  }
  
  #upload-btn-release-date::placeholder {
    color: transparent;
  }
  .dialog {
    display: flex;
    align-items: center !important;
    padding: 40px;
    max-width: 500px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.16),
        rgba(255, 255, 255, 0.16)
      ),
      #121212;
  }
  
  .form-element .MuiInputLabel-root,
  .form-element .MuiFormHelperText-root,
  .form-element input[type="date"] {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  
  .form-element input[type="text"],
  .form-element .MuiSelect-select {
    color: rgba(255, 255, 255, 0.87) !important;
  }
  
  .form-element fieldset {
    border-color: rgba(255, 255, 255, 0.38) !important;
  }
  
  #upload-btn-submit {
    background-color: #ee1520;
  }
  
  .error-msg {
    margin: 10px 0px;
    color: red;
  }
  
  .sort-button{
    color: white;
  }
  